html {
    background-color: #17191B;
}

body {
    color: white;
    margin: 0;
}

.main-wrapper, .header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-header {
    text-align: center;
}

.header-wrapper {
    width: 100%;
    position: fixed;
    z-index: 20;
    top: 0px;
    background-color: #121212;
    padding-bottom: 20px;
    border-bottom: 2px solid #4d4d4d;
}

.content-pusher {
    height: 200px;
}

.options-wrapper input {
    margin: 10px;
    padding: 10px;
    background-color: blue;
}

.header, #main-input, .section-wrapper {
    width: 100%;
    max-width: 800px;
}

#main-input {
    background-color: rgb(26, 26, 26);
    border: 1px solid #4d4d4d;
    color: white;
    padding: 10px 10px;
    font-size: 18px;
    font-family: "Lucida Console", Monaco, monospace;
}

#main-input:hover, #main-input:active, #main-input:focus {
  background-color: #353535;
}

.code-section-wrapper {
  position: relative;
}

.copy-button {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  border: 2px solid #383838;
  font-size: 21;
  background-color: rgba(255,255,255,0);
  color: rgba(255,255,255,0);
}

.copy-button:hover{
  background-color: rgba(255,255,255,0.2);
  color: black;
}

/* Checkbox styles */
.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin: 10px 30px 10px 0;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  border: 2px solid #383838;
  background-color: #212121;
}

.checkbox-container:hover input ~ .checkmark {
  border: 2px solid #383838;
  background-color: #353535;
}

.checkbox-container input:checked ~ .checkmark {
  border: 2px solid #383838;
  background-color:#2e6b28;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 7px;
  top: 4px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}